.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 800px;
    padding: 0 60px;

    .home {
        max-width: 300px;
        min-width: 300px;
    }

    /* socials */
    span {
        display: flex;
        gap: 25px;
        justify-content: center;

        a {
            margin: 0;

            img {
                width: 30px;
                min-width: 30px;
            }
        }
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        width: fit-content;
        align-self: center;
    }

    button {
        font-family: 'Montserrat';
        background-color: var(--btn-colour);
        color: var(--theme-text-colour);
        border: none;
        width: 115px;
        height: 45px;
        min-width: 108px;
        min-height: 40px;
        font-size: 20px;
        font-weight: 650;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
        transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    }

    button:hover {
        transform: scale(1.05);
    }

    button:active {
        transform: translateY(2px);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: var(--navbar-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    box-sizing: border-box;
}

.navLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}

.navLinks a {
    text-decoration: none;
    color: var(--text-colour);
    font-family: 'Mulish';
    font-size: 14px;
    font-weight: 500;
    transition: color 200ms ease-in-out;
}

.navLinks a:hover {
    color: var(--theme-text-colour);
}

.colourMode {
    width: 25px;
    height: 25px;
    min-width: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.colourMode:hover {
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.typewriter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-colour);
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    margin-bottom: 15px;

    p {
        margin-right: 4px;
    }
}

@media (width >= 320px) {
    .container {
        align-items: center;
        gap: 30px;
        padding: 0;

        .home {
            max-width: 250px;
            width: 250px;
        }

        button {
            font-size: 18px;
            width: 108px;
            height: 40px;
        }
    }

    .typewriter {
        p{
            font-size: 14px;
        }
    }

    .colourMode {
        width: 20px;
    }
}


@media (width >= 800px) {
    .container {
        align-items: center;
        gap: 30px;

        .home {
            max-width: 300px;
            width: 300px;
        }

        button {
            font-size: 20px;
            width: 115px;
            height: 45px;
        }
    }

    .typewriter {
        p{
            font-size: 18px;
        }
    }

    .navLinks a {
        font-size: 16px;
    }

    .colourMode {
        width: 25px;
    }
}

@media (width >= 1000px) {
    .container {
        flex-direction: row-reverse;
        align-items: center;
        gap: 30px;

        .home {
            max-width: 300px;
            width: 300px;
            padding-left: 60px;
        }
    }

    .navLinks a {
        font-size: 18px;
    }

    .colourMode {
        width: 30px;
    }
}
